* {
    font-family: 'SourceSansPro Regular';
}

.content-container p,
.content-container li {
    font-size: 1.5em;
}

.content-container h2 {
    margin-top: 30px;
}

.accordion-item > h2{
    margin: 0px;
}

.btn {
    background-color: #ED3B42;
    border: 1 px solid #851E1E;
    color: #FFFFFF;
    width: 130px;
    height: 40px;
}

.wp-block-heading {
    margin-bottom: 25px;
}

.btn:hover {
    background-color: #F1706C;
}

.page-wrap {
    padding: 2rem 0;
    min-height: 100vh;
}

h1 {
    font-family: 'Merriweather Bold';
    margin-bottom: 25px;
}

/* Menu Top */

header {
    height: 70px;
    background-color: #FFFFFF;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 8px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .menu-top-bar-container {
    height: 100%;
    display: flex;
    align-items: center;
}

header .top-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

header .top-menu li a {
    color: #3B3B3A;
    font-family: 'Merriweather';
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    white-space: nowrap;
}

header .top-menu>li {
    padding: 20px 2rem;
    position: relative;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header .top-menu li a:hover {
    text-decoration: none;
}

header .top-menu li:first-child a {
    padding-left: 0;
}

header .top-menu li:last-child a {
    padding-right: 0;
}

header .top-menu li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 8px;
}


header .top-menu .menu-item-has-children:hover .sub-menu {
    display: block;
}

.current-menu-item>a,
.current-menu-parent>a {
    border-bottom: #000 solid 1px;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Merriweather Logo';
    font-size: large;
}

.logo-container div {
    font-family: 'Merriweather Logo';
}

.site-logo {
    margin-right: 20px;
}

.site-logo span {
    display: flex;
    height: 55px;
    width: 60px;

}

.site-logo span svg {
    width: 100%;
    height: auto;
}

/* Hover Menu-Item*/



/* Top Menü - Sub Menü */

.sub-menu {
    list-style-type: none;
    z-index: 0;
    padding: 0px;
}

.sub-menu>li {
    white-space: nowrap;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 2rem 0px 2rem
}



.nav-container li.menu-item:hover {
    background-color: #E4E4E4;
}


/* Aktivitäts-CSS */

.aktivitaet-text {
    margin-top: 24px;
}

.accordion {
    border: #000 solid 2px;
    margin-bottom: 5px;
}

.accordion-button {
    padding: 15px 15px 15px 15px;
    min-height: 80px;
}

.aktivitaet-container,
h1 {
    margin-top: 40px;
}

.aktivitaet-img,
.aktivitaet-img img {
    max-width: 300px;
}

.aktivitaet-img,
.aktivitaet-file {
    flex: 0 1 0%;
    padding: 0;
}

.aktivitaet-content,
.aktivitaet-titel {
    width: 100%;
    max-width: 640px;
}

.aktivitaet-daten {
    display: flex;
    padding-right: 50px;
}

/* Footer */

.footer {
    margin: 50px 0px 0px 0px;
    height: 450px;
    background-color: #242423;
    width: 100%;
    position: fixed;
    margin-top: auto;
    position: relative;
}

.footer-info {
    padding-top: 50px;
    color: #FFFFFF;
}

.footer-info a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-menu{
    margin-bottom: 30px;
}

.footer-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
   
}

.footer-menu ul li:last-child{
    padding-left:40px;
}

.copyright {
    border: #FFFFFF solid 1px;
    margin: 30px 0px 30px 0px;
    border-radius: 2px;
}

.copyright-txt {
    display: flex;
    justify-content: flex-end;

    background: linear-gradient(to right, #f00, #f90, #ff0, #0f0, #00f, #90f, #f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-image {
    height: calc(100vh - 60px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.nav-container {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 80px;
    margin-right: 130px;
    justify-content: center;
}

.content-container {
    margin-bottom: 70px;
}

.front-page-title {
    margin-bottom: 30px;
}

.img-styling {
    width: 100%;
}

.accordion-header {
    background-color: #ED3B42;
}

.accordion-button:focus {
    border-color: #B02828;
    box-shadow: 0 0 0 0.25rem #F6A4A6;
}

.accordion-button:not(.collapsed) {
    color: #B02828;
    background-color: #F6A4A6;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}


.front-container p,
.front-container h4 {
    font-size: 1.5em;
}

.scoutleader-group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.scoutleader-container {
    margin-bottom: 50px;
}

.scoutleader-info {
    width: 250px;
    display: flex;
    background-color: #D32E2E;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
}

.scoutleader-info div {
    width: 100%;
}

.scoutleader-info-txt {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 7px;
}

.scoutleader-info-txt h5 {
    font-family: 'Merriweather Bold';
}

.scoutleader-mail {

    width: 100%;
    background-color: #930000;
    padding-top: 9px;
    padding-bottom: 9px;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-decoration: none;

}

.scoutleader-mail div {
    font-family: 'Merriweather Bold';
    display: flex;
    justify-content: center;
    width: 100%;
}

.scoutleader-mail svg {
    margin-left: 15px;
    margin-top: -2px;
}

.scoutleader-info div h5 {
    margin: 0;
    padding: 0;
}

.scoutleader-info div h6 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.scoutleader-img-container {
    position: relative;
    text-align: center;
    width: 250px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.scoutleader-container img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: auto;
    height: 100%;
}

.logo-title {
    font-family: 'Merriweather Logo';
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.video-container {
    margin-top: 70px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


         
.circle-button {
    position: absolute;
    bottom: 60px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #BA0B0B 0%, #C71414  51%, #D32E2E  100%);
    border: 2px solid #fff;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    
  }
  
  .circle-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .circle-button p{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(13deg);
    font-size: initial;
    font-family: 'SourceSansPro Regular';
    font-weight: bold;
  }
 
  
         
  .btn-grad {
    
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.newsletter{
    margin-top: 50px;
}

.newsletter h2{
    font-family: 'Merriweather Bold';
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 0;
}




/* Fonts */
/*********/

@font-face {
    font-family: SourceSansPro Regular;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: Merriweather Bold;
    src: url('../fonts/Merriweather-Bold.ttf');
}

@font-face {
    font-family: Merriweather Logo;
    src: url('../fonts/Merriweather-Black.ttf');
}


/*@font-face {
    font-family: Merriweather Regular;
    src: url(http://alpha.pfadihelveter.ch/wp-content/themes/helveters-star-gazer-theme/Merriweathe.ttf);
    font-weight:bold;
}*/

/* Mobile Menu */
/***************/

#mobile-menu {
    display: none; /* Hide the mobile menu by default */
    position: fixed;
    top: 50px; /* Adjust this value to position the mobile menu correctly */
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff; 
    height: 100vh;
}

#mobile-menu.show {
    display: block; /* Show the mobile menu when the "show" class is added */
    overflow:hidden;
}

.body-state-mobile{
    overflow:hidden;
    height: 100%;
}

.mobile-menu li {
    display: block;
    margin: 10px 0;
}

.mobile-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333333; /* Change this value to match your site's design */
}

.mobile-menu li a:hover {
    background-color: #eeeeee; /* Change this value to match your site's design */
}

.mobile-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-icon-wrapper{
    height:50px;
    width:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-logo span svg{
    height: 45px;
    width: 45px;
}

.mobile-logo{
    width:70px;
    padding-left:10px;
}

/* Normal Page */

.normal-page{
    margin-top: 50px;
}


/* Media Queries / Viewport */
/**************************/

/* Optimize for screens smaller than 768px */
@media (max-width: 767px) {
    header{
        height: 50px;
    }
    .sticky{
        position: relative;
    }
    .mobile-menu-container{
        display: flex;
    }
    .nav-container {
        display: none;
    }

    .logo-title {
        display: none;
    }

    .site-logo span {
        display: flex;
        height: 45px;
        width: 50px;

    }

    .hero-image {
        height: 45vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

/* Optimize for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .mobile-menu-container{
        display: none;
    }
    .logo-title {
        display: none;
    }

    .site-logo span {
        display: flex;
        height: 45px;
        width: 50px;

    }

    header {
        height: 60px;
    }

    .hero-image {
        height: 45vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



/* Optimize for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .mobile-menu-container{
        display: none;
    }
    .logo-title {
        display: none;
    }
}

/* Optimize for screens larger than 1200px */
@media (min-width: 1200px) and (max-width: 2379px) {
    .mobile-menu-container{
        display: none;
    }
}


/* Optimize for screens larger than 1200px */
@media (min-width: 2379px) {
    .mobile-menu-container{
        display: none;
    }
    header>.nav-container {
        max-width: 2379px;
    }


}